<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pro516.thrifttogetherbackstage.mapper.CouponMapper">

    <resultMap id="simpleCouponResultMap" type="SimpleCouponVO">
        <result column="id" property="couponId"/>
        <result column="coupon_name" property="couponName"/>
        <result column="coupon_integral" property="couponIntegral"/>
        <result column="coupon_image_url" property="couponImageUrl"/>
    </resultMap>

    <resultMap id="userCouponResultMap" type="UserCoupon">
        <result column="id" property="userCouponId"/>
        <result column="user_id" property="userId"/>
        <result column="coupon_id" property="couponId"/>
        <result column="receive_time" property="receiveTime"/>
        <result column="use_time" property="useTime"/>
        <result column="use_order_no" property="useOrderNo"/>
        <result column="user_coupon_status" property="userCouponStatus"/>
    </resultMap>

    <resultMap id="couponDetailsResultMap" type="CouponDetailsVO">
        <result column="id" property="couponId"/>
        <result column="coupon_integral" property="couponIntegral"/>
        <result column="coupon_details_image_url" property="couponDetailsImageUrl"/>
        <result column="discounted_price" property="couponDiscountedPrice"/>
        <result column="expired_date" property="expiredDate"/>
    </resultMap>

    <resultMap id="simpleUserCouponResultMap" type="SimpleUserCouponVO">
        <result column="id" property="userCouponId"/>
        <result column="coupon_image_url" property="couponImageUrl"/>
        <result column="coupon_name" property="couponName"/>
        <result column="discounted_price" property="couponDiscountedPrice"/>
        <result column="expired_date" property="expiredDate"/>
        <result column="user_coupon_status" property="userCouponStatus"/>
    </resultMap>

    <!-- 获取所有优惠券 -->
    <select id="listSimpleCoupons" resultMap="simpleCouponResultMap">
        SELECT
            id,
            coupon_name,
            coupon_integral,
            coupon_image_url
        FROM
            coupon
        WHERE
            coupon_status = 1
    </select>

    <!-- 根据优惠卷id查询优惠券详情 -->
    <select id="getCouponDetailsByCouponId" parameterType="Integer" resultMap="couponDetailsResultMap">
        SELECT
            id,
            coupon_name,
            coupon_integral,
            coupon_details_image_url,
            discounted_price,
            expired_date
        FROM
            coupon
        WHERE
            coupon_status = 1
            AND id = ${couponId}
    </select>

    <!-- 根据用户id和用户优惠券状态查询领取的优惠券 -->
    <select id="listUserCoupons" parameterType="Integer" resultMap="simpleUserCouponResultMap">
        SELECT
            id,
            ( SELECT coupon_name FROM coupon WHERE coupon_id = id ) as coupon_name,
            ( SELECT coupon_image_url FROM coupon WHERE coupon_id = id ) as coupon_image_url,
            ( SELECT discounted_price FROM coupon WHERE coupon_id = id ) as discounted_price,
            ( SELECT expired_date FROM coupon WHERE coupon_id = id ) as expired_date,
            user_coupon_status
        FROM
            user_coupon
        WHERE
            user_coupon_status = ${userCouponStatus}
            AND user_id = ${userId}
        ORDER BY
            receive_time
    </select>

    <!-- 更新优惠券状态 -->
    <update id="updateCouponStatus">
        UPDATE coupon
        SET coupon_status = 2
        WHERE ( DAY (now()) - DAY ( expired_date )) = 0 AND coupon_status =1
    </update>

    <!-- 更新优惠券状态 -->
    <update id="updateUserCouponStatus" parameterType="Integer">
        UPDATE user_coupon
        SET user_coupon_status = 3
        WHERE
            user_id = 1
            AND coupon_id IN ( SELECT id FROM coupon WHERE coupon_status = 2 )
    </update>

    <!-- 根据优惠券id获取优惠券状态 -->
    <select id="getCouponStatusByCouponId" parameterType="Integer" resultType="Integer">
       select coupon_status from coupon where id = ${couponId}
    </select>

    <!-- 根据用户id更新用户积分-->
    <update id="updateUserIntegral" parameterType="Integer">
        UPDATE USER SET integral = ${integral} WHERE id = ${userId}
    </update>

    <!-- 根据用户id和优惠券id添加用户优惠券-->
    <insert id="insertUserCoupon" parameterType="Integer">
        INSERT INTO user_coupon ( user_id, coupon_id, receive_time, user_coupon_status )
        VALUES ( ${userId}, ${couponId}, now(), 2)
    </insert>

    <!-- 用户使用优惠券-->
    <update id="userUseCoupon">
        UPDATE user_coupon
        SET use_time = now(),
        use_order_no = ${orderNo},
        user_coupon_status = 1
        WHERE
            id = ${userCouponId}
            AND user_coupon_status = 2
    </update>

    <!-- 根据用户优惠券id查询用户优惠券详情-->
    <select id="getUserCouponByUserCouponId" parameterType="Integer" resultMap="userCouponResultMap">
        SELECT * FROM user_coupon  WHERE id = ${userCouponId}
    </select>

</mapper>