<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pro516.thrifttogetherbackstage.mapper.ShopMapper">

    <resultMap id="lookingAroundShopResultMap" type="LookingAroundShopVO">
        <result column="shop_id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="shop_cover_url" property="shopCoverUrl"/>
        <result column="average_score" property="averageScore"/>
        <result column="average_price" property="averagePrice"/>
        <result column="shop_area" property="shopArea"/>
        <result column="shop_address" property="shopAddress"/>
        <result column="city_id" property="cityId"/>
        <result column="is_collected" property="isCollected"/>
    </resultMap>

    <resultMap id="productResultMap" type="Product">
        <result column="id" property="productId"/>
        <result column="shop_id" property="shopId"/>
        <result column="product_name" property="productName"/>
        <result column="product_tags" property="productTags" typeHandler="com.pro516.thrifttogetherbackstage.handler.PictureListHandler"/>
        <result column="product_content" property="productContent" typeHandler="com.pro516.thrifttogetherbackstage.handler.PictureListHandler"/>
        <result column="product_reminder" property="productReminder" typeHandler="com.pro516.thrifttogetherbackstage.handler.PictureListHandler"/>
        <result column="cover_url" property="productCoverUrl"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_original_price" property="productOriginalPrice"/>
        <result column="product_discount" property="productDiscount"/>
        <result column="product_sales" property="productSales"/>
        <result column="product_use_time" property="productUseTime"/>
    </resultMap>

    <resultMap id="productDetailsResultMap" type="ProductDetailsVO">
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_cover_url" property="productCoverUrl"/>
        <result column="shop_name" property="shopName"/>
        <result column="product_tags" property="productTags" typeHandler="com.pro516.thrifttogetherbackstage.handler.PictureListHandler"/>
        <result column="product_content" property="productContent" typeHandler="com.pro516.thrifttogetherbackstage.handler.PictureListHandler"/>
        <result column="product_reminder" property="productReminder" typeHandler="com.pro516.thrifttogetherbackstage.handler.PictureListHandler"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_original_price" property="productOriginalPrice"/>
        <result column="product_discount" property="productDiscount"/>
        <result column="product_sales" property="productSales"/>
    </resultMap>

    <resultMap id="discoverShopResultMap" type="DiscoverShopVO">
        <result column="id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="cover_url" property="shopCoverUrl"/>
        <result column="average_score" property="averageScore"/>
        <result column="average_price" property="averagePrice"/>
        <result column="shop_area" property="shopArea"/>
        <result column="shop_address" property="shopAddress"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
    </resultMap>

    <resultMap id="simpleShopResultMap" type="SimpleShopVO">
        <result column="id" property="shopId"/>
        <result column="city_id" property="cityId"/>
        <result column="shop_name" property="shopName"/>
        <result column="cover_url" property="shopCoverUrl"/>
        <result column="average_score" property="averageScore"/>
        <result column="average_price" property="averagePrice"/>
        <result column="shop_area" property="shopArea"/>
    </resultMap>

    <resultMap id="simpleProductResultMap" type="SimpleProductVO">
        <result column="product_id" property="productId"/>
        <result column="product_cover_url" property="productCoverUrl"/>
        <result column="product_name" property="productName"/>
        <result column="product_use_time" property="productUseTime"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_original_price" property="productOriginalPrice"/>
        <result column="product_discount" property="productDiscount"/>
        <result column="product_sales" property="productSales"/>
    </resultMap>

    <resultMap id="shopDetailsResultMap" type="ShopDetailsVO">
        <result column="shop_id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="shop_cover_url" property="shopCoverUrl"/>
        <result column="shop_average_score" property="shopAverageScore"/>
        <result column="shop_average_price" property="shopAveragePrice"/>
        <result column="shop_address" property="shopAddress"/>
        <result column="is_collected" property="isCollected"/>
    </resultMap>

    <sql id="listSimpleShopInfo">
        select id,city_id,shop_name,cover_url,average_score,average_price,shop_area from shop
    </sql>

    <!-- 查询全部店铺 -->
    <select id="listShops" parameterType="Integer" resultMap="simpleShopResultMap">
        <include refid="listSimpleShopInfo"/>
    </select>

    <!-- 根据城市id筛选店铺 -->
    <select id="listShopsByCityId" parameterType="Integer" resultMap="simpleShopResultMap">
        <include refid="listSimpleShopInfo"/> where city_id = #{cityId}
    </select>

    <!-- 根据城市id和分类id筛选店铺 -->
    <select id="listShopsByCategoryId" parameterType="Integer" resultMap="simpleShopResultMap">
        <include refid="listSimpleShopInfo"/> where city_id = #{cityId} and category_id = #{categoryId}
    </select>

    <!-- 根据城市id，分类id和细分id筛选店铺 -->
    <select id="listShopsBySubdivisionId" parameterType="Integer" resultMap="simpleShopResultMap">
        <include refid="listSimpleShopInfo"/> where city_id = #{cityId} and category_id = #{categoryId} and subdivision_id = #{subdivisionId}
    </select>

    <!-- 根据城市id获取每日推荐的店铺 -->
    <select id="listRecommendedDailyShopsByCityId" parameterType="Integer" resultMap="simpleShopResultMap">
        <include refid="listSimpleShopInfo"/> where id in (select shop_id from recommended_daily where (day(now()) - day(update_date)) = 0) and city_id = ${cityId}
    </select>

    <!-- 根据城市id获取随便看看的店铺 -->
    <select id="listLookingAroundShops" parameterType="Integer" resultMap="lookingAroundShopResultMap">
        SELECT
            id AS shop_id,
            shop_name,
            cover_url AS shop_cover_url,
            average_score,
            average_price,
            shop_area,
            shop_address,
            city_id,
            ( SELECT count(*) FROM collection WHERE shop_id = shop.id AND user_id = ${userId} AND type = 1 ) AS is_collected
        FROM
            shop
        WHERE
            city_id = ${cityId}
            LIMIT 0, 18
    </select>

    <!-- 根据店铺id查询简单店铺信息 -->
    <select id="getSimpleShopByShopId" parameterType="Integer" resultMap="simpleShopResultMap">
        <include refid="listSimpleShopInfo"/> where id = ${shopId}
    </select>

    <!-- 根据用户id和店铺id查询店铺详情 -->
    <select id="getShopDetails" parameterType="Integer" resultMap="shopDetailsResultMap">
        SELECT
            id AS shop_id,
            shop_name,
            cover_url AS shop_cover_url,
            average_score AS shop_average_score,
            average_price AS shop_average_price,
            shop_address,
            ( SELECT count(*) FROM collection WHERE shop_id = ${shopId} AND user_id = ${userId} AND type = 1 ) AS is_collected
        FROM
            shop
        WHERE
            id = ${shopId}
    </select>

    <!-- 根据店铺id查询改店铺的所有商品 -->
    <select id="listSimpleProductsByShopId" parameterType="Integer" resultMap="simpleProductResultMap">
        SELECT
            id AS product_id,
            cover_url AS product_cover_url,
            product_name,
            use_time AS product_use_time,
            product_price,
		    product_original_price,
		    product_discount,
		    product_sales
        FROM
            product
        WHERE
            shop_id = ${shopId}
        ORDER BY
            publish_time DESC
    </select>

    <!-- 根据商品id更新商品团购价格 -->
    <update id="updateProductDiscountPrice" parameterType="Integer">
        UPDATE product
        SET product_price = product_original_price * product_discount / 10
        WHERE id = ${productId}
    </update>

    <!-- 根据店铺id查询简单店铺信息 -->
    <select id="getShopIdByProductId" parameterType="Integer" resultType="Integer">
        select shop_id from product where id = ${productId}
    </select>

    <!-- 查询每日推荐店铺的数量 -->
    <select id="listRecommendedDailyCount" resultType="Integer">
        select count(*) from recommended_daily where (day(now()) - day(update_date)) = 0
    </select>

    <!-- 插入今日推荐商品 -->
    <insert id="insertRecommendedDaily" parameterType="Integer" >
        insert into recommended_daily (shop_id,  update_date)
        VALUES(${shopId}, now());
    </insert>

    <!-- 根据城市id查询所需要的发现页店铺信息 -->
    <select id="listDiscoverShopsByCityId" parameterType="Integer" resultMap="discoverShopResultMap">
       SELECT
            id,
            shop_name,
            cover_url,
            average_score,
            average_price,
            shop_area,
            shop_address,
            longitude,
            latitude
        FROM
            shop
        WHERE
	        city_id = ${cityId}
    </select>

    <!-- 根据店铺id查询店铺商品详情列表 -->
    <select id="listDetailProductsByShopId" parameterType="Integer" resultMap="productDetailsResultMap">
        SELECT
            id AS product_id,
            product_name,
            cover_url as product_cover_url,
            ( SELECT shop_name FROM shop WHERE id = 1 ) AS shop_name,
            product_tags,
            product_content,
            product_reminder,
            product_price,
            product_original_price,
            product_discount,
            product_sales
        FROM
            product
        WHERE
            shop_id = ${shopId}
        ORDER BY
            publish_time DESC
    </select>

    <!-- 根据商品id查询商品 -->
    <select id="getProductByProductId" parameterType="Integer" resultMap="productResultMap">
        select * from product where id = ${productId}
    </select>

</mapper>